
.main{
    font-family: 'Open Sans', sans-serif;
}
/*flexible layout
how flex items are placed in the flex container*/
/*the children of a flex container can be laid out in any direction, and can “flex” their sizes*/
.center{
    text-align: center;
}
.flex{
    display: flex;
    align-items: center;
    flex-direction: column;
}
th{
    font-weight: bold;
    
}
.green{
    background-color: rgb(188, 245, 245);
}
.padding{
    padding: 20px;
}
.margin{
    margin: 20px;
}
.border-round{
    border-radius: 10px;
}
.border{
    border-style: solid;
    border-width: 1px;
    border-color: cadetblue;
    background-color: azure;
}
.cursor{
    cursor: pointer;
}
.styled{
    border-radius: 5px;
    line-height: 2.5;
    padding: 10px 10px;
    position: relative;
    top: 50%;
    left: 50%;
    
}
.button-corn{
    background-color: cornsilk;
}
.button-salmon{
    background-color:lightsalmon;
}

tbody#table-body tr:hover{
    background-color:lightsalmon;
  }
